<div id="addAddr">
    <div class="panel">
        <div class="header">信息填写</div>
        <div class="body">
            <form name="addr">
                <div class="input-group form-control name">
                    <span class="addon">
                        <span class="icon-person"></span>
                    </span>
                    <input type="text" name="name" required ng-model="data.name" placeholder="姓名"></div>
                <div class="input-group form-control phone">
                    <span class="addon">
                        <span class="icon-phone"></span>
                    </span>
                    <input type="text" ng-model="data.phone" required placeholder="电话"></div>
                <div class="input-group form-control provin">
                    <span class="addon" style="vertical-align: top">
                        <span class="icon-address" style="line-height: 50px;"></span>
                    </span>
                    <div>
                        <div class="clearfix">
                            <select require name="province" ng-model="data.province" ng-options="province.code as province.name for province in addrconf.provinces">
                                <option value="" disabled selected>省</option>
                            </select>
                            <select require name="city" ng-model="data.city" ng-options="city.code as city.name for city in addrconf.citys">
                                <option value="" disabled selected>市</option>
                            </select>
                            <select require name="area" ng-model="data.area" ng-options="area.code as area.name for area in addrconf.areas">
                                <option value="" disabled selected>县</option>
                            </select>    
                        </div>    
                        <div class="addr">
                            <input type="text" ng-model="data.addressDetails" placeholder="详细地址">
                        </div>
                    </div>
                </div>
                <button class="btn" ng-disabled="!addr.$valid" ng-click="post()">{{btn}}</button>
            </form>
        </div>
    </div>
</div>