@import "app/css/base";
#addAddr{
    padding: 10px 0;
    min-height: 100vh;
    background-color: #f0efed;
    font-size:18px;
    .panel{
        .header{
            background-color: #fff;
            padding:0.5em;
            text-align: left;
            color:#767676;
            font-weight: 800;
            border-top:1px solid #d9d7d8;
        }
        .body{
            width:100%;
            background-color: #fff;
            padding-bottom:30px;
            .input-group{
                &.provin{
                    border-bottom:1px solid #d9d7d8;            
                }
                display:table;
                width:100%;
                border-top:1px solid #d9d7d8;
                position: relative;
                border-collapse: separate;
                .addr{
                    border-top:1px solid #d9d7d8;
                }
                .addon{
                    background-color: #fff;
                    display:table-cell;
                    width:1%;              
                    position: relative;
                    white-space: nowrap;      
                    vertical-align: middle;
                    text-align: center;
                    font-size:0;
                    border-right: 1px solid #d9d7d8;
                    span{
                        font-size:30px;
                        padding:10px;
                        color:#767676;
                    }
                }
                select{
                    font-size:14px;
                    background-color: #fff;
                    height:50px;
                    width:33.33%;
                    float:left;
                    border:none;
                    border-radius: none;
                    outline:none;           
                    color:#767676;         
                    appearance:none;
                    &:not(:last-child){
                        border-right:1px solid #d9d7d8;
                    }
                }
               
                input{
                    font-size:14px;
                    height:50px;
                    width:100%;
                    position: relative;
                    appearance:none;
                    border:none;
                    z-index: 2;
                    padding-left: 0.5em;
                }
                input[type=number] { 
                    -moz-appearance:textfield;
                }
                input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            .btn{
                outline: none;
                display:block;
                padding: 3px 12px;
                width: 90%;
                height:45px;
                font-size:24px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;                
                border: 1px solid transparent;
                background-color: #3781d8;
                color:#fff;
                font-weight: 900;
                margin: 30px auto 0;
            }
        }

    }
}