<div id="addAddr">
    <div class="panel">
        <div class="header">信息填写</div>
        <div class="body">
            <form name="addr">
                <div class="input-group form-control name">
                    <span class="addon">
                        <span class="img"></span>
                    </span>
                    <input type="text" name="name" placeholder="姓名"></div>
                <div class="input-group form-control phone">
                    <span class="addon">
                        <span class="img"></span>
                    </span>
                    <input type="number" placeholder="电话"></div>
                <div class="input-group form-control provin">
                    <span class="addon">
                        <span class="img"></span>
                    </span>
                    <select require name="province">
                        <option value="" disabled selected>省</option>
                        <option value="1">北京</option>
                        <option value="2">杭州</option>
                    </select>
                    <select>
                        <option value="" disabled selected>市</option>
                        <option value="1">北京</option>
                    </select>
                    <select>
                        <option value="" disabled selected>县</option>
                        <option value="1">北京</option>
                    </select>
                </div>
                <div class="input-group form-control addr">
                    <input type="text" placeholder="详细地址"></div>
                <button class="btn">提 交</button>
            </form>
        </div>
    </div>
</div>