@import "app/css/base";
#orderview{
    min-height: 100vh;
    background-color: #f0efed;
    .orderdisplay{
        border:1px solid #d9d9d1;        
        overflow: hidden;    
        margin: 15px 0;
        .header{
            padding: 5px 12px;
            color:#818181;
            font-size:13px;
            background-color: #fff;
            .status{
                float:right;
            }
        }   
        .body{
            background-color: white;
            padding: 7px;      
            font-size:12px;
            border-top: 1px solid #e3e3e3;
            .icon{
                vertical-align: middle;
                height: 17vw;                        
                width: 15vw;
                display:table-cell;
                background: url($img+'ordershow.png') no-repeat 0 0/30vw auto;
            }
            .fix{
                background-position: 0 0;        
            }
            .sale{
                background-position: -15vw 0;        
            }
            .display{
                display:table-cell;
                padding: 0 10px;
                vertical-align: middle;
                .name{
                    color:#484444;
                    font-size: 125%;
                }
                .ordertime{                    
                    color:#908e8f;
                }
                .item{
                    color:#908e8f;   
                    .key{
                        display:inline-block;
                        width:3.5em;
                    }
                }
                .quote{                    
                    color:#908e8f;
                    i{
                        font-style:normal;
                        font-size:75%;
                    }
                }
            }
            .operation{
                display:table-cell;
                width:1%;
                .btn{
                    float:right;
                    outline: none;
                    display: inline-block;
                    padding: 5px 15px;
                    font-weight: normal;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    cursor: pointer;           
                    font-weight: 700;     
                    border: 1px solid #bf2422;
                    background-color: transparent;
                    color:#bf2422;
                    border-radius: 5px;
                    margin-top: 3vw;
                }
            }
        }
    }
}