#orderview{
    padding: 10px;
    background-color: #fafaee;
    .orderdisplay{
        border:1px solid #d9d9d1;
        border-radius: 5px;
        overflow: hidden;    
        margin: 15px 0;
        .header{
            padding: 5px 12px;
            color:#fff;
            font-size:13px;
            background-color: #51a0eb;        
            .status{
                float:right;
            }
        }   
        .body{
            background-color: white;
            padding: 7px;      
            font-size:12px;
            .icon{
                display: inline-block;
                height:17vw;
                width: 15vw;
                float:left;
                background: url('/images/ordershow.png') no-repeat 0 0/30vw auto;
            }
            .fix{
                background-position: 0 0;        
            }
            .sale{
                background-position: -15vw 0;        
            }
            .display{
                float:left;
                padding: 0 10px;
                .name{
                    color:#484444;
                    font-size: 125%;
                }
                .ordertime{                    
                    color:#908e8f;
                }
                .quote{                    
                    color:#908e8f;
                    i{
                        font-style:normal;
                        font-size:75%;
                    }
                }
            }
            .operation{
                .btn{
                    float:right;
                    outline: none;
                    display: inline-block;
                    padding: 5px 15px;
                    font-weight: normal;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    cursor: pointer;                
                    border: 1px solid #d2d2d2;
                    background-color: #f5bb40;
                    color:#fff;
                    border-radius: 5px;
                    margin-top: 3vw;
                }
            }
        }
    }
}