<div id="orderview">
    <div class="orderdisplay" ng-repeat="order in orders">
        <div class="header">
            <span>订单号: {{order.orderHead.orderID}}</span>
            <span class="status">{{order.orderHead.orderStatus|orderStatus}}</span>
        </div>
        <div class="body clearfix" ng-click="orderClickHandle($event,order)">
            <span class="icon" ng-class="order.type"></span>
            <span class="display">
                <div class="quote">
                    <label>总价:</label> <i>￥</i>
                    {{order.orderHead.totlePrice|totlePrice}}
                </div>
                <div class="ordertime">
                    <label>日期:</label>
                    {{order.orderHead.orderTime|date:'yyyy-M-d'}}
                </div>
                <div class="item" ng-repeat="o in order.orderBody">
                    <span class="key">
                        <span ng-if="$index==0">产&#x3000;品:</span>
                    </span>
                    <span class="value">
                        {{o.brandName}} {{o.goodsName}} {{o.colorName}} {{o.itemName}}
                    </span>
                </div>
            </span>

            <span class="operation">
                <a class="btn" ng-if="order.orderHead.orderStatus==6003"  ui-sref="payment(order.orderHead)">付 款</a>
                <a class="btn" ng-if="order.orderHead.orderStatus==6004"  ui-sref="evalute(order.orderHead)">评 价</a>
            </span>
        </div>
    </div>
</div>