#orderview {
  min-height: 100vh;
  background-color: #f0efed; }
  #orderview .orderdisplay {
    border: 1px solid #d9d9d1;
    overflow: hidden;
    margin: 15px 0; }
    #orderview .orderdisplay .header {
      padding: 5px 12px;
      color: #818181;
      font-size: 13px;
      background-color: #fff; }
      #orderview .orderdisplay .header .status {
        float: right; }
    #orderview .orderdisplay .body {
      background-color: white;
      padding: 7px;
      font-size: 12px;
      border-top: 1px solid #e3e3e3; }
      #orderview .orderdisplay .body .icon {
        vertical-align: middle;
        height: 17vw;
        width: 15vw;
        display: table-cell;
        background: url("/images/ordershow.png") no-repeat 0 0/30vw auto; }
      #orderview .orderdisplay .body .fix {
        background-position: 0 0; }
      #orderview .orderdisplay .body .sale {
        background-position: -15vw 0; }
      #orderview .orderdisplay .body .display {
        display: table-cell;
        padding: 0 10px;
        vertical-align: middle; }
        #orderview .orderdisplay .body .display .name {
          color: #484444;
          font-size: 125%; }
        #orderview .orderdisplay .body .display .ordertime {
          color: #908e8f; }
        #orderview .orderdisplay .body .display .item {
          color: #908e8f; }
          #orderview .orderdisplay .body .display .item .key {
            display: inline-block;
            width: 3.5em; }
        #orderview .orderdisplay .body .display .quote {
          color: #908e8f; }
          #orderview .orderdisplay .body .display .quote i {
            font-style: normal;
            font-size: 75%; }
      #orderview .orderdisplay .body .operation {
        display: table-cell;
        width: 1%; }
        #orderview .orderdisplay .body .operation .btn {
          float: right;
          outline: none;
          display: inline-block;
          padding: 5px 15px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          font-weight: 700;
          border: 1px solid #bf2422;
          background-color: transparent;
          color: #bf2422;
          border-radius: 5px;
          margin-top: 3vw; }
