.ngdialog.ngdialog-theme-default .ngdialog-content {
  background-color: transparent !important; }

#couponsDialog .pannel {
  background-color: #fff;
  border: 1px solid #bebebe; }
  #couponsDialog .pannel .head {
    padding: 10px;
    background-color: #6794e7;
    font-size: 24px;
    color: #fff; }
  #couponsDialog .pannel .body {
    padding: 5px; }
    #couponsDialog .pannel .body .container {
      display: table;
      width: 100%;
      padding-bottom: 10px; }
      #couponsDialog .pannel .body .container span {
        display: table-cell;
        white-space: nowrap;
        font-size: 20px; }
      #couponsDialog .pannel .body .container input {
        display: table-cell;
        border-radius: 5px;
        font-size: 20px;
        width: 100%; }
    #couponsDialog .pannel .body .tips {
      color: brown;
      line-height: 20px;
      font-size: 14px;
      height: 20px; }
  #couponsDialog .pannel .footer {
    padding: 5px; }
    #couponsDialog .pannel .footer .center {
      width: 150px;
      margin: 0 auto; }
      #couponsDialog .pannel .footer .center .btn {
        display: inline-block;
        font-size: 14px;
        width: 40%;
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff;
        white-space: nowrap;
        background-color: #6794e7; }
        #couponsDialog .pannel .footer .center .btn:first-child {
          float: left; }
        #couponsDialog .pannel .footer .center .btn:last-child {
          float: right; }
