@import "app/css/base";
#couponsDialog{     
    .container{
        display:table;
        width:100%;
        overflow:hidden;
        .btn{
            background-color: red;
            border: 1px solid black;
            display: table-cell;
            padding: 2px 8px;
            white-space: nowrap;
            width: 1%;
            cursor:default;
            color:#fff;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        input{
            background-color: transparent;
            border: 1px solid #000;  
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: table-cell;
            outline: medium none;
            padding: 10px;
            width: 100%;
            &::-webkit-input-placeholder { /* WebKit browsers */
                    color: #999;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:#999;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:#999;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: #999;
            }
        }
    }
}