@import "app/css/base";
#payment{
    min-height: 100vh;
    background-color: #f0efed;    
    padding: 10px 0 59px 0;
    .container{
        .panel{
            border-top:1px solid #c6c1b5;
            overflow: hidden;
            .header{
                color:#696969;
                background-color: #fff;   
                height:41.2px;
                line-height: 41.2px;
                font-size: 19.2px;
                padding-left: 0.5em;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
                margin-top:-1px;
                position: relative;
                z-index: 1;
            }
            .body{
                padding-left: 2em;
                background-color: #fff;
                font-size: 19.2px;
                border-bottom:1px solid #dedede;
                .wrap{
                    border-top: 1px solid #dedede;
                    border-bottom: 1px solid #dedede;
                    margin-top:-1px;
                    padding:10px 0;
                }
                .item{
                    float:left;
                    font-size: 0;                            
                    .key{                        
                        width:1.5em;
                        color:#696969;
                        font-size:16.5px;
                        display:inline-block;
                    }
                    .value{
                        font-size:16.5px;
                        display:inline-block;   
                        color:#696969;
                    }
                }
            }
            .coupon{
                position:relative;
                margin-top:10px;
                background-color: #fff;
                border-top:1px solid #c6c1b5;
                border-bottom:1px solid #c6c1b5;
                vertical-align: middle;
                font-size:0;                
                select{
                    font-size:14px;
                    color:#fff;            
                    vertical-align: middle;                        
                    border-radius: 0px;
                    background-color: transparent;
                    border:none;
                    outline:none;
                    appearance:none;
                    width:100%;
                    opacity: 0;
                    height: 47px;
                }
                .display{
                    z-index:0;
                    font-size:16.5px;
                    line-height: 47px;
                    vertical-align: middle;
                    position:absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;    
                    color:#783d8f;
                    .ctip{
                        float: right;
                        color:#696969;
                    }
                    .title{
                        color:#696969;
                    }
                    .icon-arrow{
                        color:#696969;
                        display: inline-block;
                        float: right;
                        line-height: 47px;
                        transform: rotate(90deg);
                        margin:0 10px;
                    }
                    .icon-coupons2{
                        color:#ab0303;
                        background-color: #fff;
                        margin-left:5px;
                        margin-top:-3px;
                        display:inline-block;
                        font-size:27px;
                        vertical-align: middle;
                    }
                }
            }
            .tips{
                background-color: #fff;
                .title{
                    float:left;
                    margin-right:5px;
                    .icon{
                        color:#fff;
                        background-color: #bb262a;
                        border-radius: 2px;
                        padding:0 5px;
                    }
                }
                .content{                    
                    line-height: 1.6;  
                    border-bottom: 1px solid #dedede;                  
                    .wrap{
                        border-top: 1px solid #dedede;
                        border-bottom: 1px solid #dedede;
                        margin-top:-1px;
                        background-color: #fff;
                        margin-left:2.5em;
                        padding:10px 0;
                        &:last-child{
                            border-bottom:none;
                        }
                    }
                    .item{
                        float:left;
                        
                        .key{                        
                            width:4em;
                            color:#696969;
                            font-size:16.5px;
                        }
                        .value{
                            color:#696969;
                            font-size:16.5px;
                        }
                    }
                }
                .quote{
                    border-top: 1px solid #cfcfcf;
                }
            }
            .footer{
                position: fixed;
                bottom: 0;
                left:0;
                right:0;
                height:59px;
                line-height: 59px;
                .pay{
                    color:#fff;
                    font-size:14px;
                    float:left;
                    width:60%;
                    height: 100%;
                    vertical-align: bottom;
                    background-color: #484848;
                    .amount{
                        font-size:200%;
                    }
                }
                .btn{
                    outline: none;
                    float:left;
                    display: inline-block;                    
                    width:40%;
                    font-weight: normal;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    cursor: pointer;                
                    border: 1px solid transparent;
                    background-color: #7a3f91;
                    color:#fff;
                    height: 100%;
                    font-size:150%;
                    font-weight: 800;
                }
            }
        }
    }
}