@import "app/css/base";
$item:5;
$point-size:25px;
$activeColor:#f9dd33;
$defaultColor:#434343;
#payment{
    min-height: 100vh;
    background-color: #e8eaeb;    
    .container{
        padding-top: 10px;
        .panel{
            border:1px solid #c6c1b5;
            overflow: hidden;
            .header{
                padding: 0.5em;
                color:#fff;
                background-color: #3b83d5;                
            }
            .body{
                // #272727
                padding: 0.5em;
                line-height: 1.7;
                background-color: #fff;
                .item{
                    font-size: 0;
                    .key{                        
                        width:4em;
                        color:#5a5959;
                        font-size:14px;
                    }
                    .value{
                        font-size:14px;   
                    }
                }
            }
            .coupon{
                position:relative;
                margin-top:10px;
                background-color: #85b4e8;
                vertical-align: middle;
                font-size:0;                
                box-shadow: 0 0 2px 0px #777 inset;
                select{
                    font-size:14px;
                    color:#fff;            
                    vertical-align: middle;                        
                    border-radius: 0px;
                    background-color: transparent;
                    border:none;
                    outline:none;
                    appearance:none;
                    width:100%;
                    opacity: 0;
                    height: 30px;
                }
                .display{
                    z-index:0;
                    padding-left:0.5em;
                    font-size: 14px;
                    line-height: 30px;
                    vertical-align: middle;
                    position:absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;    
                    color:#fff;     
                    .ctip{
                        float: right;
                    }
                    .icon{
                        color:#fff;
                        background-color: #bb262a;
                        border-radius: 2px;
                        padding:0 5px;
                        margin-right:5px;
                    }

                }
            }
            .tips{
                padding: 5px;
                border-top:1px solid #cfcfcf;
                background-color: #fff;
                .title{
                    float:left;
                    margin-right:5px;
                    .icon{
                        color:#fff;
                        background-color: #bb262a;
                        border-radius: 2px;
                        padding:0 5px;
                    }
                }
                .content{                    
                    line-height: 1.6;
                    .item{
                    font-size: 0;
                    .key{                        
                        width:4em;
                        color:#5a5959;
                        font-size:14px;
                    }
                    .value{
                        font-size:14px;   
                    }
                }
                }
                .quote{
                    border-top: 1px solid #cfcfcf;
                }
            }
            .footer{
                position: fixed;
                bottom: 0;
                left:0;
                right:0;
                height:43px;
                .pay{
                    color:#fff;
                    font-size:14px;
                    float:left;
                    width:60%;
                    height: 100%;
                    line-height: 43px;
                    vertical-align: bottom;
                    background-color: #484848;
                    .amount{
                        font-size:200%;
                    }
                }
                .btn{
                    outline: none;
                    float:left;
                    display: inline-block;                    
                    width:40%;
                    font-weight: normal;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    cursor: pointer;                
                    border: 1px solid transparent;
                    background-color: #f4be66;
                    color:#fff;
                    height: 100%;
                    font-size:150%;
                    font-weight: 800;
                }
            }
        }
    }
}