<div id="payment">
    <div class="container">
        <div class="panel">
            <div class="header">订单信息</div>
            <div class="body">
                <div class="item">
                    <span class="key">订单号:</span>
                    <span class="value">{{orderHead.orderID}}</span>
                </div>
                <div ng-repeat="o in orderBody" class="item">
                    <span class="key">产&#x3000;品:</span>
                    <span class="value">{{o.brandName}} {{o.goodsName}} {{o.colorName}} {{o.itemName}}</span>
                </div>
                <div class="item">
                    <span class="key">用&#x3000;户:</span>
                    <span class="value">{{orderHead.name}} {{orderHead.phone}}</span>
                </div>
                <div class="item">
                    <span class="key">地&#x3000;址</span>
                    <span class="value addr">{{orderHead.provinceName}} {{orderHead.cityName}} {{orderHead.areaName}}</span>
                </div>
                <div class="item">
                    <span class="key"></span>
                    <span class="value addr">{{order.useraddr}}</span>
                </div>
                <div class="item">
                    <span class="key">价&#x3000;格</span>
                    <span class="value addr">{{orderHead.totlePrice|totlePrice}}</span>
                </div>
                <div class="coupon">
                    <span class="key">优惠券</span>
                    <span class="value clearfix">
                        <select ng-model="coupon" ng-options="coupon.cardPrice for coupon in coupons">
                            <option value="" selected>{{ctip}}</option>
                        </select>
                    </span>
                </div>
                <div class="tips">
                    {{coupon}}
                </div>
                <button class="btn" ng-click="pay()">支付</button>
            </div>
        </div>
    </div>
</div>