<div id="payment">
    <div class="container">
        <div class="panel">
            <div class="header">
                <span class="icon-no" style="color:#ab0303;"></span>
                订单{{orderHead.orderID}}
            </div>
            <div class="body">
                <div class="wrap clearfix">
                    <div class="item">
                        <span class="key icon-iphone"></span>
                        <span class="value">
                            {{orderBody[0].brandName}} {{orderBody[0].goodsName}} {{orderBody[0].colorName}}
                        </span>
                    </div>
                </div>
                <div class="wrap clearfix">
                    <div class="item" ng-repeat="o in orderBody">
                        <span class="key">
                            <span class="icon-fault" ng-if="$index==0"></span>
                        </span>
                        <span class="value">{{o.itemName}}</span>
                    </div>
                </div>
                <div class="wrap clearfix">
                    <div class="item">
                        <span class="key icon-person"></span>
                        <span class="value">{{orderHead.customerName}} {{orderHead.customerPhone}}</span>
                    </div>
                </div>
                <div class="wrap clearfix">
                    <div class="item">
                        <span class="key icon-address"></span>
                        <span class="value addr">
                            {{orderHead.provinceName}} {{orderHead.cityName}} {{orderHead.areaName}}
                        </span>
                    </div>
                    <div class="item">
                        <span class="key"></span>
                        <span class="value addr">{{orderHead.addressDetails}}</span>
                    </div>
                </div>
                <div class="wrap clearfix">
                    <div class="item">
                        <span class="key">￥</span>
                        <span class="value">{{orderHead.totlePrice|totlePrice}}</span>
                    </div>
                </div>
            </div>
            <div class="coupon">
                <div class="display">
                    <span class="icon-coupons2"></span>
                    <span class="title">优惠券：</span>                    
                    {{coupon.cardName}}
                    <span class="icon-arrow"></span>
                    <span class="ctip" ng-hide="coupon">{{ctip}}</span>
                </div>
                <select ng-model="coupon" ng-options="coupon.cardName for coupon in coupons">
                    <option value="" selected>{{ctip}}</option>
                </select>
            </div>
            <div class="tips" ng-show="coupon">
                <div class="clearfix">
                    <div class="content clearfix">
                        <div class="wrap clearfix">
                            <div class="item">
                                <span class="key">名&#x3000;称：</span>
                                <span class="value">{{coupon.cardName}}</span>
                            </div>
                        </div>
                        <div class="wrap clearfix">
                            <div class="item">
                                <span class="key">有效期：</span>
                                <span class="value">{{coupon.expireTime|date:"yyyy-MM-d"}}</span>
                            </div>
                        </div>
                        <div class="wrap clearfix">
                            <div class="item">
                                <span class="key">描&#x3000;述：</span>
                                <span class="value">{{coupon.cardDesc}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="quote">
                    <span class="res">
                        报价:{{orderHead.totlePrice|totlePrice}}-{{coupon.cardPrice}}={{orderHead.totlePrice-coupon.cardPrice}}
                    </span>
                </div>
                -->
            </div>
        </div>
        <div class="footer clearfix">
            <div class="pay">
                实付款:￥
                <span class="amount">{{pay_display}}</span>
            </div>
            <button class="btn" ng-click="pay()">支&#x3000;付</button>
        </div>
    </div>
</div>

</div>