#payment {
  min-height: 100vh;
  background-color: #e8eaeb; }
  #payment .container {
    padding-top: 10px; }
    #payment .container .panel {
      border: 1px solid #c6c1b5;
      overflow: hidden; }
      #payment .container .panel .header {
        padding: 0.5em;
        color: #fff;
        background-color: #3b83d5; }
      #payment .container .panel .body {
        padding: 0.5em;
        line-height: 1.7;
        background-color: #fff; }
        #payment .container .panel .body .item {
          font-size: 0; }
          #payment .container .panel .body .item .key {
            width: 4em;
            color: #5a5959;
            font-size: 14px; }
          #payment .container .panel .body .item .value {
            font-size: 14px; }
      #payment .container .panel .coupon {
        position: relative;
        margin-top: 10px;
        background-color: #85b4e8;
        vertical-align: middle;
        font-size: 0;
        box-shadow: 0 0 2px 0px #777 inset; }
        #payment .container .panel .coupon select {
          font-size: 14px;
          color: #fff;
          vertical-align: middle;
          border-radius: 0px;
          background-color: transparent;
          border: none;
          outline: none;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          width: 100%;
          opacity: 0;
          height: 30px; }
        #payment .container .panel .coupon .display {
          z-index: 0;
          padding-left: 0.5em;
          font-size: 14px;
          line-height: 30px;
          vertical-align: middle;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: #fff; }
          #payment .container .panel .coupon .display .ctip {
            float: right; }
          #payment .container .panel .coupon .display .icon {
            color: #fff;
            background-color: #bb262a;
            border-radius: 2px;
            padding: 0 5px;
            margin-right: 5px; }
      #payment .container .panel .tips {
        padding: 5px;
        border-top: 1px solid #cfcfcf;
        background-color: #fff; }
        #payment .container .panel .tips .title {
          float: left;
          margin-right: 5px; }
          #payment .container .panel .tips .title .icon {
            color: #fff;
            background-color: #bb262a;
            border-radius: 2px;
            padding: 0 5px; }
        #payment .container .panel .tips .content {
          line-height: 1.6; }
          #payment .container .panel .tips .content .item {
            font-size: 0; }
            #payment .container .panel .tips .content .item .key {
              width: 4em;
              color: #5a5959;
              font-size: 14px; }
            #payment .container .panel .tips .content .item .value {
              font-size: 14px; }
        #payment .container .panel .tips .quote {
          border-top: 1px solid #cfcfcf; }
      #payment .container .panel .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 43px; }
        #payment .container .panel .footer .pay {
          color: #fff;
          font-size: 14px;
          float: left;
          width: 60%;
          height: 100%;
          line-height: 43px;
          vertical-align: bottom;
          background-color: #484848; }
          #payment .container .panel .footer .pay .amount {
            font-size: 200%; }
        #payment .container .panel .footer .btn {
          outline: none;
          float: left;
          display: inline-block;
          width: 40%;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          border: 1px solid transparent;
          background-color: #f4be66;
          color: #fff;
          height: 100%;
          font-size: 150%;
          font-weight: 800; }
