#orderDetails {
  min-height: 100vh;
  background-color: #e5e5e0; }
  #orderDetails > .header {
    background: url("/images/detail_header_bg.jpg") no-repeat 0 0/100% auto;
    height: 50vw;
    position: relative; }
    #orderDetails > .header .container {
      margin-left: 10%;
      width: 80%;
      position: absolute;
      top: 20vw; }
      #orderDetails > .header .container .node {
        float: left;
        width: 25%;
        position: relative;
        text-align: center; }
        #orderDetails > .header .container .node .point {
          width: 100%;
          background-color: #434343;
          box-shadow: 0 0px 3px 0 #2d2d2d inset;
          height: 12.5px; }
        #orderDetails > .header .container .node::after {
          background-color: #434343;
          box-shadow: 0 0px 3px 0 #2d2d2d inset;
          content: " ";
          height: 25px;
          right: -25px;
          margin: 0 auto;
          position: absolute;
          top: 50%;
          width: 25px;
          border-radius: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          z-index: 1000; }
        #orderDetails > .header .container .node.active::after {
          background-color: #f9dd33;
          box-shadow: 0 -3px 2px 0 #8b8120 inset; }
        #orderDetails > .header .container .node.active .point {
          background-color: #f9dd33; }
        #orderDetails > .header .container .node:first-child {
          width: 0; }
        #orderDetails > .header .container .node .text {
          color: #fff;
          position: absolute;
          right: -2em;
          top: -2em;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          white-space: nowrap; }
    #orderDetails > .header .tips {
      margin: 2em -0.7em;
      color: #b24d1a; }
  #orderDetails .container {
    padding: 10px; }
    #orderDetails .container .panel {
      border: 1px solid #c6c1b5;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      overflow: hidden; }
      #orderDetails .container .panel .header {
        padding: 0.5em;
        color: #fff;
        font-size: 120%;
        background-color: #ebc35e; }
      #orderDetails .container .panel .body {
        padding: 0.5em;
        line-height: 1.7;
        background-color: #f4f4ef; }
        #orderDetails .container .panel .body .item .key {
          display: inline-block;
          width: 4em;
          color: #5a5959; }
        #orderDetails .container .panel .body .btn {
          outline: none;
          display: inline-block;
          padding: 5px;
          width: 100%;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          border: 1px solid transparent;
          background-color: #3da8ed;
          color: #fff;
          border-radius: 5px;
          margin-top: 3vw; }
