<div id="orderDetails">
    <div class="header">
        <div class="container clearfix">

            <div class="node" ng-class="{active:{{order.orderHead.orderStatus>=pro.status}}}" ng-repeat="pro in process">
                <div class="point"></div>
                <div class="text">{{pro.name}}</div>
            </div>

            <div class="tips">
                <p>
                    谢谢您的订单
                    <br>很高兴为您服务</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel">
            <div class="header">订单信息</div>
            <div class="body">
                <div class="item">
                    <span class="key">订单号:</span>
                    <span class="value">{{order.orderHead.orderID}}</span>
                </div>
                <div class="item" ng-repeat="o in order.orderBody">
                    <span class="key">
                        <span ng-if="$index==0">产&#x3000;品:</span>
                    </span>
                    <span class="value">
                        {{o.brandName}} {{o.goodsName}} {{o.colorName}} {{o.itemName}}
                    </span>
                </div>
                <div class="item">
                    <span class="key">用&#x3000;户:</span>
                    <span class="value">{{order.orderHead.name}} {{order.orderHead.phone}}</span>
                </div>
                <div class="item">
                    <span class="key">地&#x3000;址</span>
                    <span class="value addr">
                        {{order.orderHead.provinceName}} {{order.orderHead.cityName}} {{order.orderHead.areaName}}
                    </span>
                </div>
                <div class="item">
                    <span class="key"></span>
                    <span class="value addr">{{order.useraddr}}</span>
                </div>
                <button ng-if="order.orderHead.orderStatus!=6010" class="btn" ng-click="cancel()">取消订单</button>
            </div>
        </div>
    </div>
</div>