<div id="orderDetails">
    <div class="header">
        <div class="container clearfix">
            <div class="node" ng-class="{active:{{order.status>=pro.id}}}" ng-repeat="pro in process">
                <div class="point"></div>
                <div class="text">{{pro.name}}</div>
            </div>
            <div class="tips">
            <p>
                谢谢您的订单
                <br>很高兴为您服务</p>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="panel">
            <div class="header">
                订单信息
            </div>
            <div class="body">
                <div class="item">
                    <span class="key">订单号:</span>
                    <span class="value">{{order.orderid}}</span>
                </div>
                <div class="item">
                    <span class="key">产&#x3000;品:</span>
                    <span class="value">{{order.trouble_desc}}</span>
                </div>
                <div class="item">
                    <span class="key">用&#x3000;户:</span>
                    <span class="value">{{order.username}} {{order.userPhone}}</span>
                </div>
                <div class="item">
                    <span class="key">地&#x3000;址</span>
                    <span class="value addr">{{order.usercity}} {{order.usercity}} {{order.userarea}}</span>
                </div>
                <div class="item">
                    <span class="key"></span>
                    <span class="value addr"> {{order.useraddr}}</span>
                </div>
                <button class="btn">取消订单</button>
            </div>
        </div>
    </div>
</div>