@import "app/css/base";
$item:5;
$point-size:25px;
$activeColor:#f9dd33;
$defaultColor:#434343;
#orderDetails{
    min-height: 100vh;
    background-color: #e5e5e0;
    &>.header{
        background:url($img+'detail_header_bg.jpg') no-repeat 0 0/100% auto;
        height:50vw;
        position:relative;
        .container{
            margin-left:(100%/$item)/2;
            width:100%/$item*($item+-1);
            position:absolute;
            top: 20vw;
            .node{
                float:left;
                width:(100%/($item+-1)); 
                position:relative;            
                text-align: center;
                .point{
                    width:100%;
                    background-color: $defaultColor;
                    box-shadow: 0 0px 3px 0 #2d2d2d inset;
                    height:$point-size/2;
                }
                &::after{
                    background-color: $defaultColor;
                    box-shadow: 0 0px 3px 0 #2d2d2d inset;
                    content: " ";
                    height: $point-size;
                    right: -$point-size;
                    margin: 0 auto;
                    position: absolute;
                    top: 50%;
                    width: $point-size;
                    border-radius: 50%;
                    transform:translate(-50%,-50%);
                    z-index: 1000;
                }
                &.active::after{
                    background-color:$activeColor;
                    box-shadow: 0 -3px 2px 0 #8b8120 inset;
                }
                &.active .point{
                    background-color:$activeColor;
                }
                &:first-child{
                    width:0; 
                }
                .text{
                    color:#fff;
                    position: absolute;  
                    right: -2em;
                    top: -2em;
                    transform:translate(-50%,-50%);
                    white-space: nowrap;
                }
            }
        }
        .tips{
            margin:2em -0.7em;
            color:#b24d1a;
        }
    }
    .container{
        padding: 10px;
        .panel{
            border:1px solid #c6c1b5;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
            .header{
                padding: 0.5em;
                color:#fff;
                font-size:120%;
                background-color: #ebc35e;
            }
            .body{
                // #272727
                padding: 0.5em;
                line-height: 1.7;
                background-color: #f4f4ef;
                .item{
                    .key{
                        display: inline-block;
                        width:4em;
                        color:#5a5959;
                    }
                }
                .btn{
                    outline: none;
                    display: inline-block;
                    padding: 5px;
                    width:100%;
                    font-weight: normal;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    cursor: pointer;                
                    border: 1px solid transparent;
                    background-color: #3da8ed;
                    color:#fff;
                    border-radius: 5px;
                    margin-top: 3vw;
                }
            }
        }
    }
}