@import "app/css/base";
#evaluate{
    padding:10px 0;
    min-height: 100vh;
    background-color: #f0efed;
    .panel{
        .header{            
            color:#7a7a7a;
            font-size:28px;
            padding: 10px;
            background-color: #fff;            
            border-bottom:1px solid #d8d8d8;
            .icon-evaluate{
                color:#3a89c2;
                font-size:32px;
                vertical-align: middle;
                margin-right:5px;
                float:left;
            }
        }
        .body{
            padding: 0.5em;
            font-weight: 700;            
            background-color: #fff;
            .text{
                height:40vw;
                width:100%;
                resize:none;
                &:disabled{
                    color:inherit;
                }
            }
            .btn{
                outline: none;
                display: inline-block;                
                height:45px;
                font-size:18px;
                width:100%;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;                
                border: 1px solid transparent;
                background-color: #3da8ed;
                color:#fff;
                border-radius: 5px;
                margin-top: 3vw;
            }
            .taglist{
                margin:12px 0;
            }
            .tag{
                white-space: nowrap;
                padding:5px;
                display:inline-block;                
                border-radius: 2px;
                transition: background-color .5s;
                cursor:default;
                float:left;
                text-align: center;
                width:22%;
                margin:5px;
                margin:1vw;
                background-color: #c3c3c1;
                &.active{
                    color:#fff;
                }
                &.active{
                    background-color: #7a3f91;
                }                
            }
        }
    }
}
