#coupons{
    min-height: 100vh;
    background-color: #fafaee;
    header{
        background: url('/images/couponsbg.jpg') center top/100% auto no-repeat;
        height: 36.5vw;
        position: relative;
        .header_content{
            width:100%;
            position: absolute;
            bottom: 0;
            padding: 10px;
            padding: 1.9vw;
            background-color: rgba(0,0,0,0.3);
            .headimgurl{
                border-radius: 50%;
                width: 15%;
                height: auto;
                border: 3px solid #5a6b73;
                vertical-align: middle;
            }
            .nickname{
                color: white;
                font-size: 6vw;
                line-height: 14vw;
                padding: 8px;
                padding: 3vw;
            }
            .btn{
                float: right;
                outline: none;
                display: inline-block;
                padding: 3px 12px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;                
                border: 1px solid transparent;
                background-color: #5ea723;
                color:#fff;
                border-radius: 10px;
                margin-top: 3vw;
            }
        }
    }
    .nav{
        padding: 5px 0;
        background-color: #ca8a00;
        .nav_group{
            margin: 0 auto;
            width: 95%;
            display: table;
            .btn{
                width: 1%;    
                outline: none;
                display: inline-block;
                padding: 6px 12px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                background-color: #a87300;
                color:white;
                display: table-cell;
                &:hover,&:active,&.active{
                    background-color:#fff;    
                    color: #f2b411;
                }
                &:first-child{
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                }
                &:last-child{
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }
    }
}
