<section id="coupons">
    <header>
        <div class="header_content">
            <img ng-src="{{user.headimgurl}}" class="headimgurl">
            <span class="nickname">{{user.nickname}}</span>
            <button class="btn" ng-click="exchange()">兑换优惠券</button>
        </div>
    </header>
    <div class="nav">
        <div class="nav_group">
            <a ui-sref="{{nav.uiSref}}" ui-sref-active="active" class='btn' ng-repeat="nav in navBtns">{{nav.name}}</a>
        </div>
    </div>
    <article>
        <div ui-view="couponsview"></div>
    </article>
</section>