<section id="coupons">
    <header>
        <div class="header_content clearfix">
            <input type="text" ng-model="cardCode" placeholder="请输入兑换码">
            <button class="btn" ng-click="exchange()">激活</button>
        </div>
    </header>
    <div class="nav">
        <div class="nav_group">
            <a class='btn' ng-class="{active:nav==active}" ng-click="navClickHandle(nav)" ng-repeat="nav in navBtns">
                <span class="f">{{nav.name}}</span>
            </a>
        </div>
    </div>
    <article>
        <div ng-include="'components/coupons/tpl/couponsview.html'" ng-controller="couponsviewController"></div>
    </article>
</section>