#coupons {
  min-height: 100vh;
  background-color: #fafaee; }
  #coupons header {
    position: relative; }
    #coupons header .header_content {
      padding: 15px;
      padding: 3.5vw;
      background-color: #fff; }
      #coupons header .header_content input {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        float: left;
        width: 68%;
        height: 30px;
        line-height: 30px;
        padding: 5px;
        font-size: 18px;
        border: 1px solid #efefef;
        border-radius: 3px; }
      #coupons header .header_content .btn {
        float: right;
        outline: none;
        display: inline-block;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: #3781d8;
        color: #fff;
        width: 28%;
        height: 30px;
        line-height: 30px;
        font-size: 20px; }
  #coupons .nav {
    padding: 5px 0;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
    #coupons .nav .nav_group {
      margin: 0 auto;
      width: 95%;
      display: table; }
      #coupons .nav .nav_group .btn {
        font-size: 20px;
        font-weight: 800;
        width: 1%;
        outline: none;
        display: inline-block;
        padding: 6px 12px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        background-color: #fff;
        color: #5a5a5a;
        display: table-cell; }
        #coupons .nav .nav_group .btn:hover, #coupons .nav .nav_group .btn:active, #coupons .nav .nav_group .btn.active {
          background-color: #fff;
          color: #b10200; }
          #coupons .nav .nav_group .btn:hover > .f, #coupons .nav .nav_group .btn:active > .f, #coupons .nav .nav_group .btn.active > .f {
            display: inline-block; }
          #coupons .nav .nav_group .btn:hover > .f::before, #coupons .nav .nav_group .btn:active > .f::before, #coupons .nav .nav_group .btn.active > .f::before {
            content: " ";
            position: relative;
            top: 40px;
            left: 0;
            width: 100%;
            height: 1px;
            display: block;
            background-color: red; }
        #coupons .nav .nav_group .btn:not(:last-child)::after {
          content: "";
          height: 1em;
          position: relative;
          top: 0.2em;
          left: 1.5em;
          background-color: #d8d8d8;
          display: inline-block;
          width: 1px; }
