@import "app/css/base";
#couponsview{
    padding: 5px;
    .coupon{
        margin:10px auto;
        border-radius: 3px;
        overflow: hidden;
        position:relative;
        .bg{
            width:100%;
            height: auto;
        }
    }
    .panel{
        position:absolute;
        top:0;
        left:0;
        bottom: 8vw;
        right:0;
        .font{
            position:relative;
            height:100%;
            .left{
                position:absolute;
                top: 50%;
                left:0;
                padding:0 1em;
                vertical-align: bottom;
                transform:translate(0,-50%);
                word-spacing: 1em;
                .symbol{
                    color:#af76c5;
                    font-size:10vw;
                }
                i{
                    color:#af76c5;
                    font-style: normal;
                    font-size:20vw;
                    letter-spacing: -1px;
                }
            }
            .right{
                position:absolute;
                top: 50%;
                left:50%;
                vertical-align: bottom;
                transform:translate(0,-50%);
                font-size:6vw;
                color:#bababa;
                padding:0.5em 0 0 0.5em;
            }
        }
    }
    .footer{
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;  
        line-height: 8vw;
        padding: 0 3vw;  
        color: #fff;   
        .confine{
            float:left;
            width: 60%;
            white-space: nowrap;
        }
        .deadline{
            float:left;
            width: 40%;   
            white-space: nowrap;
        }
    }
}