<section id="index">
    <header>
        <div class="header_content">
            <img ng-src="{{user.headimgurl}}" class="headimgurl">
            <span class="nickname">{{user.nickname}}</span>    
        </div>
    </header>
    <article>
        <div class="note" ui-sref="{{note.sref}}" ng-repeat="note in notes">
            <span class="icon" ng-class="note.class"></span><a style="vertical-align: middle;">{{note.name}}</a>
            <span class="icon icon_arrow"></span>         
        </div>
    </article>
</section>