<section id="order">
    <header>
        <div class="header_content">
            <img class="bg" src="images/headbg.jpg">
            <div class="user">
                <div class="border">
                    <img ng-src="{{user.wxHeadImage}}" class="headimgurl"></div>
                <div class="nickname">{{user.wxNickName}}</div>
            </div>
        </div>
    </header>

    <div class="nav">
        <div class="nav_group">
            <a class='btn' ng-class="{active:nav==active}" ng-repeat="nav in navBtns" ng-click="navClickHandle(nav)">
                <span class="f">{{nav.name}}</span>
            </a>
        </div>
    </div>
    <article>
        <div ng-include="'components/order/tpl/orderview.html'" ng-controller="orderviewController"></div>
    </article>
</section>