<section id="order">
    <header>
        <div class="header_content">
            <img ng-src="{{user.headimgurl}}" class="headimgurl">
            <span class="nickname">{{user.nickname}}</span>
        </div>
    </header>
    <div class="nav">
        <div class="nav_group">
            <a class='btn' ng-class="{active:nav==active}" ng-repeat="nav in navBtns" ng-click="navClickHandle(nav)">{{nav.name}}</a>
        </div>
    </div>
    <article>
        <div ng-include="'components/order/tpl/orderview.html'" ng-controller="orderviewController"></div>
    </article>
</section>